.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
        outline-color: rgba($punch, 0.5);
        box-shadow: 0 0 0 0.2rem rgba($punch, 0.5);
    }

    &:hover {
        text-decoration: none;
    }
}

.btn-primary {
    background-color: $punch;
    color: $white;

    &:hover {
        background-color: darken($punch, 10);
        color: $white;
    }
}
