.header {
    display: flex;

    &__inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__logo {
        &-link {
            display: block;
            padding: 1rem 0;
        }
    }
}
